
body {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
}

:root {
  --mint: #EAF2EE;
  --orange: #E58849;
  --purple: #3A2671;
  --grey: #676767;
  --dark-mint: #69CBC1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 3.25rem;
  color: var(--dark-mint);
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

a {
  color: inherit;
}

b {
  color: var(--dark-mint);
}

header {
  background-color: var(--mint);
  color: var(--grey);
  padding: 1.5rem;
}

.column {
  margin-bottom: 2rem;
}

.column:last-of-type {
  margin-bottom: 0;
}

.centered-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vertical-centered-column {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.slogan {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.screenshot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.screenshot {
  width: 100%;
  max-width: 20rem;
  margin-bottom: -1.5rem;
  display: block;
}

.download-badges {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.download-badges a {
  color: unset;
  border: unset;
  margin-bottom: 1rem;
}

.download-badges a:last-of-type {
  margin-bottom: 0;
}

.download-badges a:hover {
  background-color: unset;
}

.download-badges a img {
  width: 100%;
  max-width: 10rem;
}

.download-badges small {
  margin-top: -.25rem;
  margin-bottom: 1.25rem;
}

section {
  padding: 3rem 1.5rem;
}

.usp {
  background-color: var(--orange);
  color: white;
}

.usp-item {
  margin-bottom: 2rem;
}

.usp-item:last-of-type {
  margin: 0;
}

.about {
  background-color: var(--mint);
  color: var(--grey);
}

.about h2 {
  color: var(--purple);
}

.download {
  background-color: var(--purple);
  color: white;
  flex-wrap: wrap;
}

.download h2 {
  width: 100%;
}

.download-button {
  background-color: #E58849;
  border-radius: 2rem;
  display: inline-block;
  padding: .75rem 1.5rem;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: .5rem;
}

.contribute {
  background-color: var(--mint);
  color: var(--grey);
}

.contribute h2 {
  color: var(--orange);
}

footer {
  color: var(--grey);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

footer a {
  font-size: 1rem;
  color: var(--purple);
  margin: 1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.footer-logos img {
  height: 100%;
  margin: auto;
}

@media (min-width: 700px) {

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  img {
    /* height: 24rem;
    margin: -2.5rem auto -3.6rem; */
  }

  .column {
    flex: 1;
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .column:last-child {
    margin-right: 0rem;
  }

  .content {
    max-width: 52rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 1.25rem;
  }

  header {
    display: flex;
    flex-direction: row;
    padding: 3rem 4rem;
  }

  section {
    padding: 6rem 4rem;
  }

  footer {
     width: 100%;
     justify-content: space-evenly;
     padding: 3rem 4rem;
  }

  .screenshot {
    margin-bottom: -3rem;
  }

  .download-badges {
    justify-content: space-between;
  }

  .usp .content {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .usp-item {
    width: 45%;
  }

  .download h2 {
    flex: 100%;
  }

  .social-links {
    flex-direction: row;
    text-align: left;
  }

  .social-links a {
    margin: 2rem;
  }

  .footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

}

